$heading-color: #323232;
$subheading-color: #969696;
$subtitle-color: #02747e;
$description-color: #00737d;
$disabled-color: #879baa;
$white-grey: #fefefe;
$custom-red: #ff0000;
$gey-dark-50: #d4d4d4;
$blue-color: #0044ff;
