@import "./../../../assets/scss/variables.scss";
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $disabled-color;
  color: $white-grey;
  text-align: center;
}
