<div class="home-container">
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <app-countries [countriesName]="countriesName"></app-countries>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <app-maps></app-maps>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <app-kpi-cards></app-kpi-cards>
            <app-historical-data></app-historical-data>
        </div>

    </div>
</div>